<div class="container coasters-index">

  
  <h1 style="font-weight: 100">Índice de montañas rusas</h1>

  <a href="/coasters/new" class="btn btn-dark">Crear nueva montaña rusa</a>

  <!-- ***** CREA UNA FICHA DE LISTA POR CADA MONTAÑA RUSA **** -->
{{#each allCoasters}}
    <hr>
    <a href="/coasters/{{_id}}" class="btn btn-sm btn-dark">Ver detalles</a>
    <h4>Nombre de montaña rusa {{name}}</h4>
    <p>Descripción de montaña rusa {{description}}</p>
    <small><strong>Longitud: {{length}}</strong> 000m | <strong>Inversiones: {{inversions}}</strong> 0 | <strong>Parque: {{park_id}}</strong> XXXXXX</small>
    <hr>
{{/each }}

</div>
